
nav h3 {
  background: radial-gradient(farthest-side, #800060d0, #800060b0, transparent);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
  color: white;
  font-family: Consolas;
  font-size: small;
}

a {
  color: lightseagreen;
}
a:visited {
  color: hsl(219, 76%, 70%);
}

canvas {
  border: 5px dashed purple;
}

ul {
  padding-left: 15px;
}

.sidebar {
  width: 150px;
  table-layout: fixed;
  height: 100%;
  text-align: center;
}

.center, .centre { /*lol*/
  text-align:center;
  margin: auto;
}

.main {
  margin: auto;
  display: flex;
  width: 900px;
  color: hsl(45, 60%, 60%);
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 90%;
  /* background-blend-mode: color-burn;
  background-image: radial-gradient(ellipse at center, #fff, #000); */
}

.main em, i {
  color: hsl(25, 100%, 50%);
}

.main strong, b {
  color: hsl(93, 100%, 50%)
}

#content {
  border-style: dotted;
  border-radius: 2px;
  box-sizing: border-box;
  border-color:coral;
  background-color:#202;
  width: 100%;
  padding: 10px;
}
