html {
  background-color: #111;
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-blend-mode: color-dodge, normal, normal;
  background-size: 500px 300px, 195px 223px, auto;
  background-image: /*twinkle*/ url(/img/corruption_grey_slow.gif),
                    /*fg*/  url(/img/stars_fg.gif),
                    /*bg*/  url(/img/stars_bg.gif);
  --bg-width: 165px;
  --bg-height: 190px;
  --fg-width: 130px;
  --fg-height: 149px;
  animation: moving-stars 30s infinite linear;
}


h3 {
  background: radial-gradient(farthest-side, #800060, #800060, transparent);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
  color: white;
  font-family: Consolas;
  font-size: small;
}

a {
  color: lightseagreen;
}
a:visited {
  color: hsl(219, 76%, 70%);
}

canvas {
  border: 5px dashed purple;
}

.sidebar {
  width: 150px;
  table-layout: fixed;
  height: 100%;
  text-align: center;
}

.center, .centre { /*lol*/
  text-align:center;
  margin: auto;
}

.main {
  margin: auto;
  display: flex;
  width: 900px;
  color: hsl(45, 100%, 50%);
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 90%;
}

#content {
  border-style: dotted;
  border-radius: 2px;
  box-sizing: border-box;
  border-color:coral;
  background-color:#202;
  width: 100%;
  padding: 10px;
}

@keyframes moving-stars {
  0% {background-position:    /*twinkle*/ 0px 200px,
                              /*fg*/  calc(var(--fg-width)*3) 0px,
                              /*bg*/  0px 0px;
  }
  49.99% {background-position:/*twinkle*/ 20px 0px,
                              /*fg*/ 0px calc(var(--fg-height)*2),
                              /*bg*/ calc(var(--bg-width)/2) calc(var(--bg-height)/2);
  }
  50% {background-position:    /*twinkle*/ 0px 200px,
                              /*fg*/  calc(var(--fg-width)*3) var(--fg-height),
                              /*bg*/  calc(var(--bg-width)/2) calc(var(--bg-height)/2);
  }
  100% {background-position:  /*twinkle*/ 20px 0px,
                              /*fg*/ 0px calc(var(--fg-height)*2),
                              /*bg*/ var(--bg-width) var(--bg-height);
  }
}

/* / Getting slapped / */

@keyframes slapped {
  0% {transform: perspective(3cm) rotateY(0deg);}
  30% {transform: perspective(4cm) rotateY(-50deg);}
  100% {transform: perspective(3cm) rotateY(720deg);}
}
  
.handSlap {
  animation-name: slapped;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.17,.67,.62,1.1);
}

/* / Console typing / */

.console-typed {
  color: hsl(45, 100%, 50%);
}
.console-typed-highlight {
  background-color: hsl(45, 100%, 50%);
  color: black;
}

.console-blinky {
  animation: blinker 1500ms steps(1, jump-end) infinite;
}

@keyframes blinker {
  from, to {
    color: hsl(45, 100%, 50%);
  }
  50% {
    background-color: hsl(45, 100%, 50%);
    color: rgba(0,0,0,1);
  }
}