.hidden {
    display: none !important;
}

.word-input-row {
    row-gap: 5px;
    column-gap: 5px;
}

.word-char {
    font-size: xx-large;
    border: 1px solid lightskyblue;
    text-align: center;
    box-sizing: border-box;
    margin: 5px;
    width: 50px;
    height: 50px;
    padding: 0px;
    line-height: 35px;
    text-align: center;
    color: white;
}

.top-screen {
    display: flex;
    flex-basis: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 350px;
}

.top-sides {
    width: 30%;
}

#message-box {
    font-size: large;
    background-color: black;
    text-align: center;
}

.display-board {
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow-y: auto;
}

.keyboard-container {
    width: 700px;
}

.keyboard {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    width: max-content;
}

.keyboard-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.keyboard-key {
    text-align: center;
}

.char-key {
    font-size: xx-large;
    border: 1px solid white;
    margin: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.colour-key {
    font-size: x-large;
    border: 1px solid white;
    margin: 3px;
    line-height: 40px;
    color: white;
    width: 100%;
}

.special-char {
    font-size: medium !important;
}

.char-correct {
    background-color: green;
}
.char-wrong-spot {
    background-color: hsl(61, 100%, 30%);
}
.char-wrong-char {
    background-color: #a44;
}
.char-nothing {
    background-color: #000;
}
