# IDE
.vscode

# All compiled pages
_site

# Temp folder when live-reloading
_img

# TypeScript output
tsconfig.tsbuildinfo
.ts_output/

# Framework stuff
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock

# Personal stuff
_plzignore 