<a href="/">
  <h3>
    Andy's Digital<br />
    Land Patch :D
  </h3>
</a>
<table>
  <tbody>
    <tr>
      <td><a href="/about">About</a></td>
    </tr>
    <tr>
      <td><img src="/img/chain.gif" /></td>
    </tr>
    <tr>
      <td>Music Collection</td>
    </tr>
    <tr>
      <td><img src="/img/chain.gif" /></td>
    </tr>
    <tr>
      <td><a href="/flag-pfp">Flag PFP creator</a></td>
    </tr>
    <tr>
      <td><img src="/img/chain.gif" /></td>
    </tr>
    <tr>
      <td>Something later idk</td>
    </tr>
  </tbody>
</table>