body {
  background-color: #ff24a4;
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  /* background-blend-mode: color-dodge, normal, normal; */
  /* background-size: 500px 300px, auto, auto; */
  background-image: /*twinkle url(/static/corruption_yt.gif),*/
                    /*fg*/  url(/static/stars_fg.gif),
                    /*bg*/  url(/static/stars_bg.gif);
  --bg-width: 165px;
  --bg-height: 190px;
  --fg-width: 130px;
  --fg-height: 149px;
  animation: moving-stars 20.5s infinite linear;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comic Sans MS", "Papyrus", "Arial";
}

h3 {
  background-color: blue;
}

nav {
  color: white;
  font-family: Consolas;
  font-size: small;
}

a {
  color: lightseagreen;
}
a:visited {
  color: hsl(271, 76%, 70%);
}

canvas {
  border: 5px dashed purple;
}

.top-header {
  vertical-align: middle;
  width: 100%;
  background-image: url(/static/led_bounce.gif);
  background-size: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.sidebar {
  width: 150px;
  table-layout: fixed;
  height: 100%;
  text-align: center;
}

.center {
  text-align:center;
  margin: auto;
}

.main {
  margin: auto;
  display: flex;
  width: 900px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#content {
  border-style: dotted;
  border-radius: 2px;
  box-sizing: border-box;
  border-color:coral;
  background-color:darkred;
  width: 100%;
  padding: 10px;
}

@keyframes backscroll {
  from {transform: perspective(3cm) rotateY(0deg);}
  to {transform: perspective(3cm) rotateY(360deg)}
}
.fuck {
  animation-name: backscroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moving-stars {
  0% {background-position:    /*twinkle 0px 2000px,*/
                              /*fg*/  calc(var(--fg-width)*3) 0px,
                              /*bg*/  0px 0px;
  }
  100% {background-position:  /*twinkle 20px 0px,*/
                              /*fg*/ 0px calc(var(--fg-height)*2),
                              /*bg*/ var(--bg-width) var(--bg-height);
  }
}